*{
    padding: 0px;
    margin: 0px;
}

header{
    text-align: center;
    width: 100%;
    color: white;
}

section{
    width: 100%;
    height: 200px;
}
#baner .baner{
    width: 100%;
    height: 450px;
}

.mifoto{
    margin-top: -2000px;
    height: 300px;
    margin-left: 100px;
    margin-bottom: 150px;
}

section p{
    color: whitesmoke;
    margin-top: -350px;
    margin-left: 380px;
font-size: 25px;
font-family: 'Roboto', sans-serif;
}


.MisCreencias{
text-align: center;
margin-top: 250px;
font-size: 25pt;
font-family: 'Roboto', sans-serif;
color: white;
}

#container{
    background-color:teal;
    display: flex;
    flex-direction: row;
}

#container{
    margin-top: 20px;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;

}
#container .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background:#fff;
    margin: 25px 5px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition:0.3s ease-in-out ;
}

#container .card:hover{
height: 420px;
}

#container .card .imgbx{
    position: relative;
    width: 260px;
    height:260px ;
    top: -60px;
    left:20px ;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    z-index: 1;
}
#container .card .imgbx .imagenes{
    max-width: 100%;
    border-radius: 4px;

}

#container .card .content{
    position: relative;
    margin-top:-140px ;
    padding: 10px 15px;
    text-align:left ;
    color: #111;
    visibility:hidden ;
    opacity: 0;
    transition: 0.3s ease-in-out;

}

#container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top:-40px ;
    transition-delay: 0.3s;
}

body{
    background-color:#0070c2    ;
}
.mentorres .mentor{
margin: 0px;
padding: 0px;


}


.mentorres .mentor{
    width: 400px;
    margin-top: 25px;
    margin-left: -850px;
    margin-bottom: 0px;
    
}

.mentorres .m1{
    margin-top: 220px;
    text-align: center;
    font-size: 30px;
    margin-left: 80px;
    font-family: 'Roboto', sans-serif;
}

 .mentorres div .p{
    font-size: 15px;
  color:white;
 margin-top: -300px;
    font-family: 'Roboto', sans-serif;
   text-align: left;
  padding: 15px;

}

.Fortalezas .for1{
    width: 400px;
    margin-top: px;
    margin-left: -850px;
    margin-bottom: 15px;

}

.Fortalezas .f1{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    margin-left: 80px;
    font-family: 'Roboto', sans-serif;
}
.mentorres div .p1{
    font-size: 15px;
  
 margin-top: -250px;
    font-family: 'Roboto', sans-serif;
   text-align: left;
  padding: 10px;
  margin-left: 400px;
  color: white;
}


.Debilidades .for1{
    width: 400px;
    margin-top: px;
    margin-left: -850px;
    margin-bottom: 15px;

}

.Debilidades .f1{
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
    margin-left: 80px;
    font-family: 'Roboto', sans-serif;
}

.Debilidades .p1{
    font-size: 15px;
    color: white;
   margin-top: -250px;
      font-family: 'Roboto', sans-serif;
     text-align: left;
    padding: 10px;
    margin-left: 550px;
}

.Misvalores .mv1{
    width: 400px;
    margin-top: px;
    margin-left: -850px;
    margin-bottom: 5px;

}

.Misvalores .mv{
    margin-top: 95px;
    text-align: center;
    font-size: 30px;
    margin-left: 80px;
    font-family: 'Roboto', sans-serif;
}
.Misvalores .Mv1{
    font-size: 15px;
    color:white;
   margin-top: -240px;
      font-family: 'Roboto', sans-serif;
     text-align: left;
    padding: 10px;
    margin-left: 400px;

}


.Mismetas .mt1{
    width: 400px;
    margin-top: px;
    margin-left: -850px;
    margin-bottom: 20px;

}



.Mismetas .mt{
    margin-top: 180px;
    text-align: center;
    font-size: 30px;
    margin-left: 80px;
    font-family: 'Roboto', sans-serif;
}

.Mismetas .metas1{
    font-size: 15px;
    color: white;
   margin-top: -220px;
      font-family: 'Roboto', sans-serif;
     text-align: left;
    padding: 10px;
    margin-left: 400px;

}

.MisEnergizantes .mg1{
    width: 400px;
    margin-top: px;
    margin-left: -850px;
    margin-bottom: 20px;

}

.MisEnergizantes .mg{
    margin-top: 120px;
    text-align: center;
    font-size: 30px;
    margin-left: 80px;
    font-family: 'Roboto', sans-serif;
}

.MisEnergizantes .mge2{
    font-size: 15px;
    color: white;
   margin-top: -300px;
      font-family: 'Roboto', sans-serif;
     text-align: left;
    padding: 10px;
    margin-left: 400px;

}

.Micancion .mg1{
    width: 400px;
    margin-top: px;
    margin-left: -850px;
    margin-bottom: 20px;

}

.Micancion .mg{
    margin-top: 140px;
    text-align: center;
    font-size: 30px;
    margin-left: 80px;
    font-family: 'Roboto', sans-serif;
}

.Micancion .mge2{
    font-size: 15px;
    color:white;
   margin-top: -230px;
      font-family: 'Roboto', sans-serif;
     text-align: left;
    padding: 10px;
    margin-left: 400px;

}


@media (max-width:1024px)and (min-width:720px)
{

    .mentorres{
        max-width: 100%;
    }
.mentorres .mentor{
    margin-left: -600px;
    margin-top: 25px;
}

.mentorres .p{
    margin-left:380px;
    text-align: left;
    font-size: 20px;
    margin-top: -15px;
    margin-bottom: 5px;
}
header{
    text-align: center;
    max-width: 100%;
}
#baner .baner{
    max-width: 100%;
}

#baner .mifoto{
 margin-left: 350px;
}

#baner p{
margin-top: -150px;
margin-left: 300px;
}
}


@media (max-width:360px)and (min-width:320px)
{

    .mentorres{
        max-width: 100%;
        margin: 0px;
        padding: 0;
    }
    .mentorres .m1{
      text-align: center;
    }
.mentorres .mentor{
    margin-left: -20px;
    margin-top: 20px;
    max-width: 100%;
   
 
}

.mentorres div>.p{
   text-align: justify;
   margin-left: -25px;
   margin-top: -15px;
   font-size: 12px;

}
header{
    text-align: center;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}
#baner .baner{
  
    font-size: 15px;
    
    font-family: 'Roboto', sans-serif;
}

#baner .mifoto{
 margin-left: 50px;
 width: 300px;
}

#baner p{
margin-top: -150px;
margin-left: 50px;
font-size: 15px;
text-align: justify;
}
.mentorres .m1{
    text-align: center;
    margin-left: 20px;
  }
  .Fortalezas .f1{
    margin-left: 20px;
    margin-top: 20px;
    max-width: 100%;
   
  
  }

.Fortalezas .for1{
  margin-left: -20px;
  margin-top: 20px;
  max-width: 100%;
 

}

.mentorres div>.p1{
 text-align: justify;
 margin-left: -25px;
 margin-top: -15px;
 font-size: 12px;

}
.Debilidades .f1{
    margin-left: 20px;
    margin-top: 200px;
    max-width: 100%;
   
  
  }

.Debilidades .for1{
  margin-left: -20px;
  margin-top: 20px;
  max-width: 100%;
 

}

.Debilidades div>.p1{
 text-align: justify;
 margin-left: -25px;
 margin-top: -10px;
 font-size: 12px;

}


.Misvalores .mv{
    margin-left: 20px;
    margin-top: 200px;
    max-width: 100%;
   
  
  }

.Misvalores .mv1{
  margin-left: -20px;
  margin-top: 20px;
  max-width: 100%;
 

}

.Misvalores div>.Mv1{
 text-align: justify;
 margin-left: -25px;
 margin-top: -10px;
 font-size: 12px;

}

.Mismetas .mt{
    margin-left: 20px;
    margin-top: 380px;
    max-width: 100%;
   
  
  }

.Mismetas .mt1{
  margin-left: -20px;
  margin-top: 10px;
  max-width: 100%;
 

}

.Mismetas div>.metas1{
 text-align: justify;
 margin-left: -25px;
 margin-top: -30px;
 font-size: 12px;

}
.MisEnergizantes .mg{
    margin-left: 20px;
    margin-top: 140px;
    max-width: 100%;
   
  
  }

.MisEnergizantes .mg1{
  margin-left: -20px;
  margin-top: 10px;
  max-width: 100%;
 

}

.MisEnergizantes div>.mge2{
 text-align: justify;
 margin-left: -25px;
 margin-top: -30px;
 font-size: 12px;

}

.Micancion .mg{
    margin-left: 20px;
    margin-top: 320px;
    max-width: 100%;
   
  
  }

.Micancion .mg1{
  margin-left: -20px;
  margin-top: 10px;
  max-width: 100%;
 

}

.Micancion div> .mge2{
 text-align: justify;
 margin-left: -25px;
 margin-top: -30px;
 font-size: 12px;

}


}
